1-ICT_Architecture/1-ICT-PreAward_eProcurement/14-ICT-Services-Components/ICT Components_VCD EVS ServiceInterface 220.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.peppol.m2n.at" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.peppol.m2n.at" name="ESPInterfaceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.peppol.m2n.at" schemaLocation="http://test-vcd-esp.peppol.at:80/peppol-esp-services-2.2/ESPInterface?xsd=1"/>
</xsd:schema>
</types>
<message name="suggestCriteria">
<part name="tSkeleton" type="xsd:base64Binary"/>
<part name="authenticationToken" type="xsd:string"/>
</message>
<message name="suggestCriteriaResponse">
<part name="return" type="xsd:base64Binary"/>
</message>
<message name="InternalErrorFault">
<part name="fault" element="tns:InternalErrorFault"/>
</message>
<message name="FileFormatFault">
<part name="fault" element="tns:FileFormatFault"/>
</message>
<message name="TokenFault">
<part name="fault" element="tns:TokenFault"/>
</message>
<message name="suggestEvidences">
<part name="tcSkeleton" type="xsd:base64Binary"/>
<part name="authenticationToken" type="xsd:string"/>
</message>
<message name="suggestEvidencesResponse">
<part name="return" type="xsd:base64Binary"/>
</message>
<portType name="ESPInterface">
<operation name="suggestCriteria" parameterOrder="tSkeleton authenticationToken">
<input message="tns:suggestCriteria"/>
<output message="tns:suggestCriteriaResponse"/>
<fault message="tns:InternalErrorFault" name="InternalErrorFault"/>
<fault message="tns:FileFormatFault" name="FileFormatFault"/>
<fault message="tns:TokenFault" name="TokenFault"/>
</operation>
<operation name="suggestEvidences" parameterOrder="tcSkeleton authenticationToken">
<input message="tns:suggestEvidences"/>
<output message="tns:suggestEvidencesResponse"/>
<fault message="tns:InternalErrorFault" name="InternalErrorFault"/>
<fault message="tns:FileFormatFault" name="FileFormatFault"/>
<fault message="tns:TokenFault" name="TokenFault"/>
</operation>
</portType>
<binding name="ESPInterfacePortBinding" type="tns:ESPInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="suggestCriteria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.peppol.m2n.at"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.peppol.m2n.at"/>
</output>
<fault name="InternalErrorFault">
<soap:fault name="InternalErrorFault" use="literal"/>
</fault>
<fault name="FileFormatFault">
<soap:fault name="FileFormatFault" use="literal"/>
</fault>
<fault name="TokenFault">
<soap:fault name="TokenFault" use="literal"/>
</fault>
</operation>
<operation name="suggestEvidences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.peppol.m2n.at"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.peppol.m2n.at"/>
</output>
<fault name="InternalErrorFault">
<soap:fault name="InternalErrorFault" use="literal"/>
</fault>
<fault name="FileFormatFault">
<soap:fault name="FileFormatFault" use="literal"/>
</fault>
<fault name="TokenFault">
<soap:fault name="TokenFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="ESPInterfaceService">
<port name="ESPInterfacePort" binding="tns:ESPInterfacePortBinding">
<soap:address location="http://test-vcd-esp.peppol.at:80/peppol-esp-services-2.2/ESPInterface"/>
</port>
</service>
</definitions>